
<div class="p-4 shadow-md bg-white mb-16 text-right">
  <div class="md:flex justify-between px-4 max-w-[1250px] my-0 mx-auto">
    <div class="md:w-[38%] text-left"><a href="/" class="font-bold link">React Tailwind Demo</a></div>
  <div class="md:w-[38%]">
  <a href="/cart"  class="relative inline-block">
    {% render 'cart-icon' %}
    <span class="text-[9px] absolute -top-2 -right-2 rounded-full px-2 py-1 text-white bg-black"><span id="count-cart">{{  cart.item_count  }}</span></span>
  </a>
  </div>
  </div>
</div>
{% schema %}
  {
    "name": "Header",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}